/* This one is mine */

header {
    background: rgba(150, 0, 150, 0.5);
}

h1 {
    text-align: center;
    color: rgba(0, 79, 79, 0.712);
}

h2 {
    color: rgba(0, 150, 0, 0.5);
}

section {
    background: rgb(210,105,30);
}

a {
    color: rgba(0, 0, 200, 0.5);
    background-color: rgba(0, 150, 150, 0.5)
}

img {
    display: none;
} 

